.btn{
    margin-top: 23px;
    margin-left: 150px;
    color: black;
    width: 200px;
    height: 5vh;
    border-radius: 10px;
    font-size: 25px;
    background: rgb(44, 239, 229);
    transition: 0.5 ease-in-out; 
    font-weight: 600; 
    font-family: cursive; 
}

.btn:hover{
    background: lightseagreen;
    transform: scale(1.05);
}

input::placeholder{
    width: 320px;
}

.form-control{
    height: 5vh;
    font-size: 20px;
}

.search-input{
    width: 490px;
    margin-top: 10px;
    font-size: 25px;
}